.hbody{
height:1500px;
width:1000px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
margin-top:auto;
}
.bbody{
height:1500px;
width:1000px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
margin-top:auto;
}
.cbody{
height:1500px;
width:1000px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
margin-top:auto;
}

.cubody{
height:1500px;
width:1000px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
margin-top:auto;
}
.ebody{
height:1500px;
width:1000px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
margin-top:auto;
}






.header{
width:1000px;
height:300px;
margin-left:auto;
margin-right:auto;

background-color:#003399;
}
.fhead{
width:1000px;
height:200px;
background-color:#003399;

}
.image{
height:200px;
width:200px;
background-color:#003399;
float:left;
padding-top:30px;
padding-left:10px;

}
.title{
height:200px;
width:790px;
background-color:#003399;
text-align:center;
float:right;
padding-top:10px;
}
.title h1{
padding:20px;

}
.shead{
width:1000px;
height:100px;

}
.menu{
height:50px;
width:1000px;
background-color:#000000;
text-decoration:none;
font-style:oblique;

padding-bottom:10px;

}
.menu ul li{

padding:50px;
display:inline;
font-style:oblique;
}
.menu ul li a{
color:#FFFFFF;
text-decoration:none;
}




.footer{
width:1000px;
height:200px;
background-color:#003399;
margin-left:auto;
margin-right:auto;
}
.rev{
width:1000px;
height:100px;
text-align:center;
padding-top:5px;
}

.para{
width:1000px;
height:100px;
text-align:center;
}
.para a{
color:#FFFFFF;
padding:7px;
text-align:left;
}


.cuisin{
width:1000px;
height:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
background-image:url(pexels-pixabay-531880.jpg);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
background-attachment:scroll;
}
.indian{
width:500px;
height:500px;
float:left;
}
.indianimg{
height:500px;
width:250px;
float:left;
}
.indianmenu{
padding-top:70px;
width:250px;
height:500px;
float:right;
color:#000000;

}
.indianmenu ul{
text-decoration:none;
text-transform:capitalize;
te
}



.chinese{
width:500px;
height:500px;
float:right;
}
.chineseimg{
height:500px;
width:250px;
float:left;
}
.chinesemenu{
padding-top:70px;
width:250px;
height:500px;
float:right;
color:#000000;
}



.korean{
width:500px;
height:500px;
float:left;
}
.koreanimg{
height:500px;
width:250px;
float:left;
}
.koreanmenu{
width:250px;
padding-top:70px;
height:500px;
float:right;
color:#000000;
}

.italian{
width:500px;
height:500px;
float:right;
}
.italianimg{
height:500px;
width:250px;
float:left;
}
.italianmenu{
padding-top:70px;
width:250px;
height:500px;
float:right;
color:#000000;
}





.home{
height:1000px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-image:url(home.jpeg);
color:#FFFFFF;
}

.hhome{
height:300px;
width:1000px;
font-size:20px;
}
.hhome p{
padding-left:50px;
}
.chome{
width:1000px;
height:200px;
font-size:20px;
}
.chome h2{
padding-left:50px;
}

.shome{
width:1000px;
height:400px;
font-size:24px;
}
.shome h2{
padding-left:50px;
}
.contact{
background-color:#99CCFF;
width:1000px;
height:1000px;
background-image:url(andrew-bain-17GvkuVjLw4-unsplash.jpg);
 background-repeat:no-repeat;
background-position:center;
background-size:cover;
background-attachment:scroll;
}

.map{
allign:center;
padding-left:50px;
padding-top:20px;
width:900px;
height:400px;
}
.address{
width:1000px;
height:300px;
color:#000000;
text-align:center;
}
.add1{
padding-top:40px;
font-size:20px;
}
.feedback{
text-align:center;
width:1000px;
height:300px;
}



.book{
background-image:url(pexels-sebastiaan9977-1097456.jpg);
background-repeat:no-repeat;
width:1000px;
margin-left:auto;
margin-right:auto;
height:1000px;
background-position:center;
background-size:cover;
background-attachment:scroll;
color:#FFFFFF;
}


.bookform{
height:1000px;
width:1000px;
}
.book table{
padding-top:300px;
padding-left:300px;
}
.textbox{
background-color:#99CCFF;
border-radius:7px;
color:#000000;
}
.textbox1{
background-color:#00FF00;
border-radius:7px;
color:#000000;
}
.textbox2{
background-color:#FF0000;
border-radius:7px;
color:#FFFFFF;
}
 

 
 
 
 
 
 
 
 
 .entry{
 background-color:#000000;
 width:1000px;
 height:1500px;
 color:#FFFFFF;
 text-align:center;
 background-image:url(pexels-8moments-1323550.jpg);
 background-attachment:fixed;
 background-repeat:no-repeat;
background-position:center;
background-size:cover;
 }
 
.headline h1{
padding-top:500px;
}
.headline a:hover{
  background-color:#00FF00;
  }
 
 
